body {
    background-color: darkgreen;
        text-align: left;
        font-size: 40px;
    }

h1 {

    color: rgb(0, 0, 0);
    font-size: 60px;    
    font-weight: 300;
    font-style: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Red Hat Display", serif;
    
}
h2 {
    color: black;
    font-size: 50;
    font-family: "Tinos", serif;
}