 *   {
        text-align: left;
    } /*trying out moving the text*/






h1 {

    color: red;
    font-size: 40px;    
    font-weight: 300;
    font-style: italic;
    background-color: purple;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-top: 5px solid green;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 20px purple;

}

/*This is just to try using colours*/
#second_paragraph{
    color: rgb(156, 12, 158, 0.6);
 
}


p {
    color: red;
    color: orange;
}


.About-journal, .last-paragraph {
    color: rgb(255, 251, 0);
}
body {
    background-image: url(../images/irn-bru_cow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    
}
img {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-top: 5px solid green;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 20px purple;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 20px;
}